---
title: Posts
layout: page
permalink: /posts # permalink must be specified because this file is not in the root
---

<div class="posts" id="posts">
  <input class="search" placeholder="Search for posts" />

  <div class="list post_list">
    {% for post in site.posts %}
      <div>
        <h4 class="js_post_title post_list__post_title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <div class="js_post_tags">
          {% include post_tags.html %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize List.js
    window.postList = new List('posts', {
      valueNames: ['js_post_title', 'js_post_tags']
    });
  });
</script>
