<!-- Load vendor libraries -->
<!--
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.0.0/js/smooth-scroll.min.js"></script>

<!-- Load custom js -->
<script src="{{ site.baseurl }}/js/custom.js"></script>

<!-- Load scripts for animated background -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/easing/EasePack.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/animated-background-header.js"></script>

<!-- Load script for filtering a list -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>

<!-- Load scripts for svg ripple animation -->
<script src="{{ site.baseurl }}/js/vendor/svganimations2.js"></script>
<script src="{{ site.baseurl }}/js/vendor/cbutton.js"></script>
