<!--
Target for toggling the sidebar
`.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior.
-->
<label for="sidebar-checkbox" class="sidebar-toggle">
  <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
</label>
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Drawer sidebar -->
<div class="sidebar" id="sidebar">

  <label for="sidebar-checkbox" class="sidebar-toggle">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </label>

  <div class="sidebar-item">
    <h4>{{ site.title }}</h4>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
  {% for each in site.navigation_items %}
    {% if each[1] == page.url %}
    <a class="sidebar-nav-item active" href="{{ each[1] | prepend: site.baseurl }}">{{ each[0] }}</a>
    {% else %}
    <a class="sidebar-nav-item" href="{{ each[1] | prepend: site.baseurl }}">{{ each[0] }}</a>
    {% endif %}
  {% endfor %}
  </nav>

  <div class="sidebar-item">
    <h4>Post tags</h4>
    {% include tag_cloud.html %}
  </div>
</div>
