$theme_color: #082031;
$link_color: #75a2d1;

html {
  background-color: $theme_color;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  font-size: calc(.6vw + .8em);
  margin: 0;
  min-height: 100vh;
  color: $theme_color;
  background: white;
}

a {
  color: $link_color;
  text-decoration: inherit;
  transition: color 0.2s ease-out;
  &.active, &:hover {
    color: gray;
  }
  font-weight: 400;
  &.ghost, &.disabled {
    border-radius: 2px;
    padding: 0.4em 0.8em;
  }
  &.ghost {
    border: 2px solid $link_color;
    background-color: transparent;
    color: $link_color;
    transition: 0.1s;
    &:hover {
      background-color: $link_color;
      color: white;
    }
  }
  &.disabled {
    background-color: rgba(148, 148, 148, 0.08);
    transition: 0.25s;
  }
}

b, strong, th {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
}

main {
  flex-grow: 1;
}

hr {
  border: 1px solid rgba(148, 148, 148, 0.16);
  margin: 2em 0;
}

blockquote {
  border-left: 5px solid $link_color;
  padding-left: 1.5em;
  margin: 0;
}

body, aside, main {
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

figure {
  margin: 1em 0;
}

code {
  background-color: rgba(148, 148, 148, 0.12);
  color: gray;
  border-radius: 2px;
  font-size: 0.8em;
  margin: 0 0.2em;
  padding: 0.2em 0.4em;
}

pre {
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  border-radius: 2px;
  font-size: 0.7em;
  padding: 0.8em 1.2em;
  overflow: auto;
  code {
    background: initial;
    color: inherit;
    font-size: initial;
    margin: initial;
    padding: initial;
  }
}

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16) inset;
  tr:hover {
    background: rgba(148, 148, 148, 0.06);
  }
  th, td {
    box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16);
    padding: 0.5em 1em;
  }
}

header a, footer a {
  color: inherit;
  font-weight: 300;
}

header {
  span, time {
    color: gray;
  }
}

article, aside {
  border-top: 1px solid rgba(148, 148, 148, 0.08);
  padding: 1em calc(22% - 4em);
  overflow-x: auto;
  &:first-of-type {
    border-top: none;
  }
  header {
    h1 {
      font-size: 1.6rem;
      margin-top: 0.4em;
      margin-bottom: 0.1em;
    }
  }
  footer {
    padding: 1em 0;
  }
}

body > {
  header, footer {
    padding: 1em calc(22% - 4em);
  }
  header {
    background-color: $theme_color;
    color: white;
    h1 {
      font-size: 1.6rem;
      position: relative; // to position logo
      @media screen and (min-width: 750px) {
        font-size: 2rem;
      }
      a:hover {
        color: white;
      }
    }
  }
  footer {
    background-color: $theme_color;
    color: white;
  }
}

nav {
  margin: 1.6em -0.8em -0.8em -0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    display: inline-block;
    margin: 0 0.8em;
  }
}

body > footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .post_list {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.related_post__post_title,
.post_list__post_title {
  margin-bottom: 9px;
  > a {
    color: $theme_color;
    &:hover {
      color: $link_color;
    }
  }
}

.tag_cloud__tag,
.post_tag {
  display: inline-block;
  background-color: $link_color;
  color: white;
  padding: 0 6px;
  margin-bottom: 2px;
  font-size: 0.8rem;
  &:hover {
    color: white;
    background-color: grey;
  }
}

input.search {
  width: 100%;
  border: 1px solid $theme_color;
  box-sizing: border-box;
  padding: 0.6rem;
}
