footer {
  margin-top: 4rem;
  padding: 4rem 0;
  color: $gray-2;
  background: $header-color;
  font-size: 1rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__contact-info {
  display: block;
  padding: 1rem 0;
  @media only screen and (min-width: 768px) {
    display: inline-block;
    padding: 1rem 0;
  }
}

.footer__social-links {
  display: block;
  padding: 1rem 0 1rem 5px;
  @media only screen and (min-width: 768px) {
    display: inline-block;
  }
  a {
    color: inherit;
    margin: 0 0 0 1rem;
    color: $link-hover-color;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}
