// Adopted from https://github.com/twbs/bootstrap/blob/v4-dev/dist/css/bootstrap.css#L1845
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid lighten($header-color, 50%);
  border-radius: 0;
  outline: 0;
}
