#logo-wrapper {
  padding: 2px;  // Determine based on dimensions of svg.line-drawing and .logo.
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

@media screen and (max-width: 46.0625em) {
  #logo-wrapper {
    margin-bottom: 0;
  }
}

svg {
  pointer-events: none;
}

.drawings {
  position: relative;
  max-height: 600px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.line-drawing {
  transition: opacity 0.5s;
}

.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

.hide,
.show {
  transition: opacity 0.5s;
}

.logo {
  position: relative;
  width: 80px;
  height: 80px;
  background: $header-color no-repeat 50% 50%;
}

svg.line-drawing {
  position: absolute;
  max-width: 100%;
  width: 84px;
  height: 84px;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

svg.line-drawing path {
  fill: none;
  stroke-width: 2;
  stroke: #ddd;
}

svg.line-drawing path.darker {
  stroke: #aaa;
}
