.logo-wrapper {
  padding: 2px;  // Determine based on dimensions of svg.line-drawing and .logo.
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 3;
  height: 86px;
  @media screen and (min-width: 750px) {
    right: 18px;
  }
}

svg {
  pointer-events: none;
}

.drawings {
  position: relative;
  max-height: 600px;
}

.show {
  opacity: 1;
  transition: opacity 0.5s;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s;
}

.line-drawing {
  transition: opacity 0.5s;
  path {
    fill: none;
    stroke: white;
    stroke-width: 3;
  }
}

.logo {
  position: relative;
  width: 80px;
  height: 80px;
}

svg.line-drawing {
  position: absolute;
  max-width: 100%;
  width: 84px;
  height: 84px;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  path {
    fill: none;
    stroke-width: 2;
    stroke: #ddd;
  }
  path.darker {
    stroke: #aaa;
  }
}
