// Masthead
//
// Navigation and page title.
.masthead {
  display: flex;
  background-color: $header-color;
  width: 100vw;
  height: auto;
  padding: 1rem 0;
}
.masthead__content {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.masthead__intro-title {
  display: block;
  color: white;
  margin: 0.5rem 0;
}
.masthead__meta {
  display: block;
  width: 100%;
  margin-bottom: 0;
  color: #56c687;
  font-size: 0.9rem;
}

// Special version of masthead for about page
.about-page {
  .masthead__content {
    h1 a {
      color: white;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      max-height: 150px;
      width: auto;
      height: auto;
      background: $image-background;
      border-radius: 0;
    }
  }
  .masthead__tagline {
    display: block;
    font-size: 60%;
    font-weight: 400;
    opacity: 0.8;
  }
}
