// Pages and posts
//
// Each page is wrapped in `.page` and is only used on the page layout.
// Each post is wrapped in `.post` and is used on default and post layouts.

@mixin post-tag-link($font-size) {
  a {
    display: inline;
    font-family: $heading-font-family;
    font-size: $font-size;
    padding: 1px 8px;
    margin-right: 0.1rem;
    background: $link-color;
    color: white;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    &:hover {
      background: darken($link-color, 8%);
      text-decoration: inherit;
    }
  }
}

@mixin related_article_card {
  display: block;
  padding: 1rem;
  margin-bottom: 12px;
  background-color: white;
  box-shadow: 0 3px 0 #d7e4ed;
  border: 1px solid #d7e4ed;
}

.page,
.post {
  overflow-x: auto;

  li + li {
    margin-top: 0.25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title > a {
  margin-top: 0;
  color: $heading-font-color;
  transition: all 0.4s ease;
  &:hover {
    color: lighten($heading-font-color, 20%);
  }
}

// Blog page
//
.blog-page {
  .blog-posts__post {
    @include related_article_card;
  }

  .blog-posts__post-title,
  .blog-posts__post-title > a {
    margin: 0;
    color: $heading-font-color;
    transition: all 0.4s ease;
    &:hover {
      color: lighten($heading-font-color, 20%);
    }
  }

  .blog-posts__post-meta {
    .post-date {
      margin-right: 0.5rem;
    }
    .post-tags {
      @include post-tag-link(0.7rem);
    }
  }
}

// Related posts
//
aside.related {
  margin: 2rem 0 2rem 0;
  .related-heading {
    margin-top: inherit;
  }

  .related-posts__post {
    @include related_article_card;
  }

  .related-posts__post-title,
  .related-posts__post-title > a {
    margin: 0;
    color: $heading-font-color;
    transition: all 0.4s ease;
    &:hover {
      color: lighten($heading-font-color, 20%);
    }
  }

  .related-posts__post-meta {
    .post-date {
      margin-right: 0.5rem;
    }
    .post-tags {
      @include post-tag-link(0.7rem);
    }
  }
}

// tag cloud
//
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    padding: 0.2rem 0.1rem;
    display: inline-block;
    @include post-tag-link(0.8rem);
  }
}

// Tags page
// To offset an HTML anchor destination.
.posts-grouped-by-tags {
  h3:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 50px;
    margin-top: -50px;
  }
}

// disqus
//
#disqus_thread {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
