// Pages and posts
//
// Each page is wrapped in `.page` and is only used on the page layout.
// Each post is wrapped in `.post` and is used on default and post layouts.

@mixin post-tag-link($font-size) {
  a {
    display: inline-block;
    font-family: $heading-font-family;
    font-size: $font-size;
    padding: 1px 8px;
    margin-right: 0.1rem;
    background: $link-color;
    color: white;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    &:hover {
      background: darken($link-color, 8%);
      text-decoration: inherit;
    }
  }
}

.page,
.post {
  overflow-x: auto;

  li + li {
    margin-top: 0.25rem;
  }
}

.post {
  padding: 1rem;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 3px 0 #d7e4ed;
  border: 1px solid #d7e4ed;
}

/**
 *  Blog post or page title
 */
.page-title,
.post-title,
.post-title a {
  color: $heading-font-color;
}
.page-title,
.post-title {
  margin-top: 0;
}

/**
 *  Meta data line below post title
 */
.post-meta {
  display: block;
  margin: 0;
  color: $gray-2;
  time {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .post-tags {
    display: block;
    @include post-tag-link(0.7rem);
  }
}

// For Blog page
.page-blog .post-meta {
  margin-top: -0.3rem;
  time {
    display: inline-block;
    color: $gray-3;
    vertical-align: middle;
    line-height: 1;
    font-size: 0.9rem;
  }
  .post-tags {
    display: inline-block;
    a {
      vertical-align: middle;
    }
  }
}

/**
 *  Related posts
 */
aside.related {
  margin: 2rem 0 2rem 0;
  .related-heading {
    margin-top: inherit;
  }
}

/**
 * Styles for _pages/tags.html
 */
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    padding: 0.2rem 0.1rem;
    display: inline-block;
    @include post-tag-link(0.8rem);
  }
}

// To offset an HTML anchor destination.
.posts-grouped-by-tags {
  h3:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 50px;
    margin-top: -50px;
  }
}

#disqus_thread {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
