// Based on https://github.com/poole/lanyon

@mixin navigation_button {
  position: fixed;
  left: auto;
  right: 0;
  width: $navbar-height;
  height: $navbar-height;
  line-height: $navbar-height;
  z-index: 12; // Sit on top of canvas header
  display: block;
  text-align: center;
  padding: 0.25rem;
  margin: 5px;
  color: white;
  background-color: rgba($header-color, 0.6);
  cursor: pointer;
}

@mixin navigation_button--top {
  @include navigation_button;
  top: 0;
}

@mixin navigation_button--bottom {
  @include navigation_button;
  top: 70px;
}

.anchor-jump {
  @include navigation_button--bottom;
}

/* Sidebar
  *
  * The sidebar is the drawer, the item we are toggling with our handy hamburger
  * button in the corner of the page.
  *
  * This particular sidebar implementation was inspired by Chris Coyier's
  * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
  * comments by a reader. It modifies both implementations to continue using the
  * checkbox (no change in URL means no polluted browser history), but this uses
  * `position` for the menu to avoid some potential content reflow issues.
  *
  * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
  */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  z-index: 13; // Sit on top of main contents.
  top: 0;
  bottom: 0;
  left: auto;
  right: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  padding: 0 2rem;
  font-family: $heading-font-family;
  font-size: 0.875rem;
  color: $gray-2;
  background-color: $header-color;
  @media (min-width: 30em) {
    font-size: 0.75rem;
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: white;
}
.sidebar-item {
  padding: 1rem 0;
  h4 {
    color: white;
  }
  p {
    color: $gray-2;
    font-size: 0.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav-item {
  display: block;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: $gray-2;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.4s ease;
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 48em) {
  sidebar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sidebar-nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  user-select: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  @include navigation_button--top;
}
@media print {
  .sidebar-toggle {
    display: none;
  }
}
.sidebar .sidebar-toggle {
  z-index: 13;
}

/* Slide effect
  *
  * Handle the sliding effects of the sidebar and content in one spot, seperate
  * from the default styles.
  *
  * As an a heads up, we don't use `transform: translate3d()` here because when
  * mixed with `position: fixed;` for the sidebar toggle, it creates a new
  * containing block. Put simply, the fixed sidebar toggle behaves like
  * `position: absolute;` when transformed.
  *
  * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
  */
.sidebar,
.sidebar-toggle,
.wrap {
  backface-visibility: hidden;
}
.sidebar-toggle,
.wrap {
  transition: transform 0.2s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  visibility: visible;
  width: 100%;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .wrap {
  transform: translateX(-14rem);
}

/* Overlay sidebar
  *
  * Make the sidebar content overlay the viewport content instead of pushing it aside when toggled.
  */
.sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 0.25rem #555;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: -0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);
}
