/* Navigation */
.top-nav {
  background-color: $header-color;
  border: none;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  text-align: center;

  // Control AdSense modules
  .google-auto-placed {
    visibility: hidden;
  }
}

.top-nav-item {
  display: inline-block;
  padding: 0 0.3rem;
  height: $navbar-height;
  border: none;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.4s ease;
  @media only screen and (min-width: 768px) {
    padding: 0 1rem;
  }
  &.active {
    color: lighten($link-hover-color, 20%);
  }
  &:not(.active):hover {
    color: lighten($link-hover-color, 20%);
  }
}
