body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Syntax highlighting
// https://prismjs.com/
// https://github.com/PrismJS/prism/tree/master/themes
@import "~prismjs/themes/prism-tomorrow.css";

// Styling for headers from markdown blog posts.
.blogPost  {
  h2 {
    margin-top: 2rem;
  }
  h3 {
    margin-top: 1.5rem;
  }
}
