// https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass
@import '~bulma/sass/utilities/initial-variables';

// https://bulma.io/documentation/customize/variables/
$primary: #072031;
$primary-invert: #fff;
$link: #41b883;

$radius-small: 0;
$radius: 0;
$radius-large: 0;
$radius-rounded: 0;

// https://bulma.io/documentation/components/navbar/#variables
$navbar-breakpoint: 0; // Disable hamburger toggle https://bulma.io/documentation/overview/responsiveness/
$navbar-background-color: $primary;
$navbar-item-color: darken($primary-invert, 20%);
$navbar-item-hover-color: lighten($link, 20%);

// Menu overrides
// https://bulma.io/documentation/components/menu/#variables
$menu-item-color: $white-ter;
$menu-item-hover-color: $primary !important;
$menu-item-hover-background-color: $primary;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color: $primary-invert;
$menu-list-border-left: 1px solid $primary-invert;
$menu-label-color: $white-ter;

// Footer overrides
// https://bulma.io/documentation/layout/footer/#variables
$footer-background-color: $primary;
$footer-color: $primary-invert;
$footer-padding: 3.5rem 1.5rem 3.5rem;

// Responsiveness overrides
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 960px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 960px + (2 * $gap);
$fullhd-enabled: true;
