---
layout: page
title: Blog
excerpt: false
# I place /blog/index.html in the root directory so that I can use paginator for the Blog page.
---

<div class="page-blog">
  <div class="posts" id="posts">
    <input class="search form-control" placeholder="Search posts" style="margin: 1rem 0 1.5rem 0;" />

    <div class="list blog-posts">
      {% for post in site.posts %}
        <article class="blog-posts__post">
          <h2 class="blog-posts__post-title js-post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <div class="blog-posts__post-meta js-post-title">
            {% include post_date.html %}
            {% include post_tags.html %}
          </div>

          {% if excerpt %}
            <p>
              {{ post.excerpt | strip_html | append: "..." }}
              {% if post.excerpt != post.content %}
                <a href="{{ post.url | prepend: site.baseurl }}"> >></a>
              {% endif %}
            </p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</div>

{% include tag_cloud.html %}

<!-- Initialize List.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var options = {
    valueNames: ['js-post-title', 'js-post-meta']
  };

  var userList = new List('posts', options);
});
</script>
