@import '../styles/utilities';

// Remove default styles of button
// https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit
.button {
  background: none;
  color: inherit;
  border: 1px solid $link;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 2rem;
  height: 2rem;
}
