@import '../styles/variables';

.tag {
  margin-right: 0.2em;
  background-color: $link-hover-color !important;
  color: $white !important;
  cursor: pointer;
  &:hover {
    background-color: $link-color !important;
  }
}
