@import '../styles/utilities';

$inputHeight: 2rem;

.searchBox {
  position: relative;
  border: 1px solid $white;
}

.searchToggle {
  position: absolute;
  top: 0;
  right: 0;
  width: $inputHeight !important;
  height: $inputHeight !important;
  background: transparent;
  border: none;
  line-height: 2;

  &:after {
    content: url(../img/search.svg);
  }

  .searchBox:global(.is-active) &:after {
    content: 'X';
  }
}

.queryInput {
  height: $inputHeight !important;
  width: $inputHeight !important;
  transition: all 0.2s ease;

  &::placeholder {
    opacity: 0;
  }
  .searchBox:global(.is-active) & {
    width: 20rem !important;
    &::placeholder {
      opacity: 1;
    }
    @media (max-width: $tablet) {
      width: calc(100vw - 1.6rem) !important;
    }
  }
}

.suggestions {
  background: #fff;
  width: 20rem;
  position: absolute;
  top: 3rem;
  list-style-type: none;

  @media (max-width: $tablet) {
    width: calc(100vw - 1.6rem);
  }
}

.suggestion {
  line-height: 1.4;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: $link;
  }
}
