@import '../styles/utilities';

.tag {
  margin-right: 0.2rem;
  background-color: $link !important;
  color: $white-bis !important;
  text-decoration: none !important;
  &:hover {
    background-color: $link-hover !important;
  }
}
