.internalLink {
  // Note: Disable the CSS Module for `.isActive` class.
  &:global(.isActive) {
    cursor: default;
    pointer-events: none;
  }
}

// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
