<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="sidebar-overlay js-top {{ page.title | downcase }}-page" id="top">
  {% include sidebar.html %}

  <div class="wrap">
    {% include top_nav.html %}
    {% include masthead.html %}
    {% include anchor_jump_button.html %}
    <main class="container content" id="content">
      {{ content }}
      {% include comments.html %}
    </main>

    {% include footer.html %}
  </div>

  {% include javascripts.html %}
</body>
</html>
