<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  {% if page.url == "/" %}
    <script>
      // https://github.com/netlify/netlify-cms/blob/master/docs/quick-start.md#add-the-netlify-identity-widget
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
          if (!user) {
            window.netlifyIdentity.on("login", function() {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  {% endif %}

  <script src="{{ site.baseurl }}/assets/js/main.js"></script>

</body>
</html>
